.button {
    -fx-background-color: #1000ff;
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
    -fx-pref-width: 125px;
    -fx-pref-height: 25px;
}
.button:pressed {
    -fx-background-color: #ff9900;
}